@import "tailwindcss";

@theme {
  --color-brand-green: #4CAF50;
  --color-sidebar-bg: #151c2c;
  --color-main-bg: #0b111e;
  --color-card-bg: #1c2638;
  --color-accent-blue: #01B4EA;
  --color-border-dim: #2d3748;
  --color-text-dim: #a0aec0;
}

body {
  margin: 0;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  background-color: var(--color-main-bg);
  color: white;
}

.custom-scrollbar::-webkit-scrollbar {
  width: 6px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: var(--color-main-bg);
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #334155;
  border-radius: 10px;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #475569;
}